{% extends "base.html.twig" %} 

{% block body %} 
	<section class="articles">
		{% for article in articles %}
			<article>
				<h2>{{ articles.title }}</h2>
				<div class="content">
					<img src="{{ articles.image }}" alt="https://cdn.pixabay.com/photo/2015/03/26/05/55/diving-689831_1280.jpg">
					<a href="/article/{{ articles.id }}" class="btn btn-primary">Description de l'article</a>
					<a href="/articles/plongee/"button type="button" class="btn btn-primary">Ajouter au panier</button></a>
				</div>
			</article>
		{% endfor %}
	</section>

{% endblock %}

