{% extends "base.html.twig" %}

{% block body %}

<section class="home">
		<article>
			<h2>{{ article.title }}</h2>
			<div class="content">
				<img class="home" src="{{ article.image }}" alt=""https://cdn.pixabay.com/photo/2015/03/26/05/55/diving-689831_1280.jpg"">
				{{ article.content }}
			</div>
		</article>
</section>   
{% endblock %}