{% extends "base.html.twig" %}

{% block body %}
	<div class="std">
		<h2>
			<style="padding-left:30px;padding-right:30px;">1. Identification du vendeur</h2>
			<p style="padding-left: 30px; padding-right: 30px;">
				<strong>Société OCEAN DIVING SAS &nbsp;<www class="Ocean-Diving.com"></www>
				</strong><br>
				Société au Capital de 30 000 Euros, immatriculée au RCS de La Roche-sur -Yon sous le numéro 123 456 789 RCS. Tél : 02.51.29.85.00.</p>
			<p style="padding-left: 30px; padding-right: 30px;">A l'adresse suivante : Place Napoléon 85000 La Roche-sur-Yon</p>
			<p style="padding-left: 30px; padding-right: 30px;">&nbsp;</p>
			<hr style="padding-left: 30px; padding-right: 30px;">
			<p style="padding-left: 30px; padding-right: 30px;">&nbsp;</p>
			<h2 style="padding-left: 30px; padding-right: 30px;">2. Application des conditions générales de vente</h2>
			<p style="padding-left: 30px; padding-right: 30px;">La commande par le Client implique l'acceptation de l'intégralité des présentes conditions générales.</p>
			<p style="padding-left: 30px; padding-right: 30px;">&nbsp;</p>
			<hr style="padding-left: 30px; padding-right: 30px;">
			<p style="padding-left: 30px; padding-right: 30px;">&nbsp;</p>
			<h2 style="padding-left: 30px; padding-right: 30px;">3. Validité des offres</h2>
			<p style="padding-left: 30px; padding-right: 30px;">Nos offres ne s'adressent qu'à des consommateurs disposant d'une adresse de livraison en France métropolitaine, Corse.<br>
				Les articles visibles sur le site sont disponibles jusqu'à l'épuisement des stocks.<br>
				En cas de débit ou d'encaissement visant la commande d'un article indisponible, OCEAN DIVING SAS s'engage à proposer un avoir ou à rembourser le Client dans un délai de 15 jours.<br>
				OCEAN DIVING SAS s'engage à prévenir par courrier électronique le Client qui aurait passé commande d'un article indisponible.</p>
			<p style="padding-left: 30px; padding-right: 30px;">&nbsp;</p>
			<hr style="padding-left: 30px; padding-right: 30px;">
			<p style="padding-left: 30px; padding-right: 30px;">&nbsp;</p>
			<h2 style="padding-left: 30px; padding-right: 30px;">4. Présentation des produits</h2>
			<p style="padding-left: 30px; padding-right: 30px;">Les produits proposés à la vente sont décrits et présentés avec la plus grande exactitude possible. toutes les présentations, photographies, descriptifs &nbsp;accompagnant un produit mis en vente engage la responsabilité de OCEAN DIVING SAS.</p>
			<hr style="padding-left: 30px; padding-right: 30px;">
			<p style="padding-left: 30px; padding-right: 30px;">&nbsp;</p>
			<h2 style="padding-left: 30px; padding-right: 30px;">5. Prix des produits</h2>
			<p style="padding-left: 30px; padding-right: 30px;">Les prix sont présentés en euros toutes taxes comprises pour la France Métropolitaine, Corse. Le montant de la TVA est indiqué lors de la sélection d'un produit par le Client. Si le taux de TVA venait à être modifié, ces changements pourront être répercutés sur le prix des articles sans que le client en soit préalablement informé. OCEAN-DIVING SAS se réserve le droit de modifier ses prix à tout moment mais les produits sont facturés au prix en vigueur lors de l'enregistrement de la commande.</p>
			<p style="padding-left: 30px; padding-right: 30px;">&nbsp;</p>
			<hr style="padding-left: 30px; padding-right: 30px;">
			<p style="padding-left: 30px; padding-right: 30px;">&nbsp;</p>
			<h2 style="padding-left: 30px; padding-right: 30px;">6. Commande et paiement sécurisé</h2>
			<p style="padding-left: 30px; padding-right: 30px;">
				<strong>6.1 : Paiement</strong>
			</p>
			<p style="padding-left: 30px; padding-right: 30px;">Le client valide sa commande comme dit ci-après. Cette validation entraîne l'acceptation des présentes conditions générales de vente.&nbsp;<br>
				Le client intéressé par un article visible sur le site OCEAN-DIVING SAS suit le processus suivant afin d'établir sa commande. Après avoir cliqué sur l'icône « confirmer » et après avoir vérifié les spécificités de sa commande (couleur, quantité, taille, prix, etc…), le client valide le choix du ou des produits sélectionnés par un clic.&nbsp;<br>
				Si le client bénéficie d'une offre spéciale, il doit, préalablement saisir un code qui lui aura été attribué dans le champ prévu à cet effet. Lors de sa première commande, le client a un formulaire à remplir contenant les mentions suivantes : civilité, nom, prénom, adresse complète de livraison, email, date de naissance, numéro de téléphone. A cette occasion le client crée son mot de passe.&nbsp;<br>
				Le client a la faculté de payer par carte bancaire directement sur le site.<br>
				Après avoir validé son mode de paiement, le client valide définitivement et irrévocablement sa commande avec les effets ci-après indiqués.</p>
			<p style="padding-left: 30px; padding-right: 30px;">&nbsp;</p>
			<ul style="padding-left: 30px; padding-right: 30px;">
				<li>
					<strong>Paiement      par carte bancaire sur le site</strong><br>
					Le Client valide son adresse de livraison et de facturation, le produit et      le prix total. Il fournit le numéro de sa carte bancaire associé à la date      d'expiration et au code CVX.<br>
					Il valide finalement sa commande en cliquant sur le bouton « Confirmer »</li>
				<br>
				<li>
					<strong>Paiement      en 3 fois sans frais</strong><br>
					Il est possible de payer en 3 mensualités. Un tiers du montant de votre      achat est débité immédiatement, le second tiers un mois après votre achat      et le solde 2 mois après votre achat.<br>
					Ce mode de paiement est disponible sur la page de paiement, en cliquant      sur le bouton paiement CB X3.<br>
					Ce service est gratuit, et n'est disponible que pour les commandes supérieures      à 1000€. Pour des montants inferieurs contactez nous directement soit par email, soit pa telephone.
				</li>
				<br>
				<li>
					<strong>Paypal</strong>
				</li>
				<li>
					&nbsp;Avec PayPal vos informations financières ne sont jamais communiquées à OCEAN-DIVING.COM.      PayPal crypte et protège votre numéro de carte une fois pour toutes. Payez      en ligne en indiquant simplement votre adresse email et votre mot de      passe.</li>
			</ul>
			<p style="padding-left: 30px; padding-right: 30px;">&nbsp;</p>
			<p style="padding-left: 30px; padding-right: 30px;">
				<strong>6.2      : Défaut de paiement</strong>
			</p>
			<p style="padding-left: 30px; padding-right: 30px;">
				<strong></strong>OCEAN-DIVING.COM se réserve le droit de refuser d'effectuer une livraison      ou d'honorer une commande émanant d'un consommateur qui n'aurait pas réglé      totalement ou partiellement une commande précédente ou avec lequel un      litige de paiement serait en cours d'administration.</p>
			<p style="padding-left: 30px; padding-right: 30px;">&nbsp;</p>
			<p style="padding-left: 30px; padding-right: 30px;">
				<strong>6.3      : Vérification des paiements</strong>
			</p>
			<p style="padding-left: 30px; padding-right: 30px;">OCEAN-DINVING SAS contrôle toutes les commandes qui ont été validées sur      son site. Ces contrôles visent à protéger OCEAN-DIVING SAS de pratiques      abusives opérées par des fraudeurs.<br>Nos services pourront être amenés à vous demander toutes les pièces      nécessaires au déblocage de votre commande : justificatifs de domicile ou      de débit à votre nom, ou encore justificatif de domicile au nom de la      personne indiquée pour l'adresse de livraison etc... Ces demandes seront      faites par courrier électronique :<br>- Pour une commande qui présente une adresse de livraison différente de      l'adresse de facturation<br>- Pour les nouveaux clients<br>- Pour une commande supérieure à 150 Euros</p>
			<p style="padding-left: 30px; padding-right: 30px;">&nbsp;</p>
			<p style="padding-left: 30px; padding-right: 30px;">
				<strong>6.4      : Recouvrement des paiements refusés</strong>
			</p>
			<p style="padding-left: 30px; padding-right: 30px;">Lorsqu’un paiement d’une échéance a été refusée, un premier mail vous ai      envoyé. Le paiement de cette échéance ne pouvant se faire que par virement      ou par chèque. Si le paiement n’est pas réalisé dans les 15 jours, les      documents (bons de livraison et factures seront directement transmis à un      huissier le plus proche).&nbsp;</p>
			<p style="padding-left: 30px; padding-right: 30px;">&nbsp;</p>
			<hr style="padding-left: 30px; padding-right: 30px;">
			<p style="padding-left: 30px; padding-right: 30px;">&nbsp;</p>
			<h2 style="padding-left: 30px; padding-right: 30px;">7. Sécurité des paiements</h2>
			<p style="padding-left: 30px; padding-right: 30px;">Afin d'assurer la sécurité des paiements, le site OCEAN-DIVING SAS utilise le service de paiement sécurisé de la banque BPRIVES. Les données confidentielles (le numéro de carte bancaire à 16 chiffres ainsi que la date d'expiration, le code CVX) sont directement transmises cryptées sur le serveur de la banque sans transiter sur les supports physiques du serveur OCEAN-DIVING SAS.&nbsp;<br>
				Lorsque la commande est validée :<br>
				La demande de paiement est routée en temps réel sur le gestionnaire de télépaiement sécurisé.<br>
				Celui-ci adresse une demande d'autorisation au réseau carte bancaire.<br>
				Le gestionnaire de télépaiement délivre un certificat électronique qui vaudra preuve du montant et de la date de la transaction conformément aux dispositions des articles 1316 et suivants du code civil.&nbsp;</p>
			<p style="padding-left: 30px; padding-right: 30px;">&nbsp;</p>
			<hr style="padding-left: 30px; padding-right: 30px;">
			<p style="padding-left: 30px; padding-right: 30px;">&nbsp;</p>
			<h2 style="padding-left: 30px; padding-right: 30px;">8.&nbsp;&nbsp; Identification</h2>
			<p style="padding-left: 30px; padding-right: 30px;">Le Client ayant déjà effectué un achat sur le site OCEAN-DIVING SAS peut choisir un mot de passe lui permettant, lors des commandes ultérieures, de ne pas avoir à remplir une nouvelle fois les formulaires préalables à la passation de la commande.<br>
				Le Client déjà inscrit est reconnu sur le site comme étant un client de OCEAN-DIVING SAS.
				<br>
				Le mot de passe dont bénéficie le client de OCEAN-DIVING SAS est strictement confidentiel et personnel.<br>
				En aucun cas, il ne doit être divulgué ou communiqué à quiconque.<br>
				Dans le cas où le client de OCEAN-DIVING SAS venait à perdre ou oublier son mot de passe, il lui incombe de prévenir à très bref délai le gestionnaire du site OCEAN-DIVING SAS à l'adresse contact@ocean-diving.com qui lui délivrera sous 48 heures un nouveau mot de passe qui se substituera de plein droit à l'ancien. Afin de faciliter l'identification du Client par la fourniture simultanée de l'adresse e-mail et du mot de passe, le Client autorise expressément OCEAN-DIVING SAS&nbsp; à déposer sur le disque dur du client un fichier dit « cookie » ayant pour unique vocation à faciliter ladite identification.</p>
			<p style="padding-left: 30px; padding-right: 30px;">&nbsp;</p>
			<hr style="padding-left: 30px; padding-right: 30px;">
			<p style="padding-left: 30px; padding-right: 30px;">&nbsp;</p>
			<h2 style="padding-left: 30px; padding-right: 30px;">9. Livraison</h2>
			<p style="padding-left: 30px; padding-right: 30px;">
				<strong>9.1 : France métropolitaine, Corse/strong></p>
			</p>
			<p style="padding-left: 30px; padding-right: 30px;">Pour la Corse rajouter 2 jours sur les délais indiqués ci-dessous. Elle s'effectue par colissimo dans un délai de 1 à 3 jours ouvrés selon les régions en France, tout cas fortuit ou de force majeure qui retarderait la livraison indépendamment de la volonté et des diligences de OCEAN-DIVING SAS .&nbsp;</p>
			<p style="padding-left: 30px; padding-right: 30px;">
				<strong>9.2 : COVID 19</strong>
			</p>
			<p style="padding-left: 30px; padding-right: 30px;">Face à la situation sanitaire inédite, La poste-colissimo modifie son organisation en préservant la santé de ses clients et des postiers. La distribution du courrier et des colis peut étre ralentie<strong>.<br></strong>
			</p>
			<p>
				<span>
					<span></span>
				</span>
			</p>
			<h2 style="font-style: italic;">
				<span style="color: #c0392b;"><br></span>
			</h2>
			<p>&nbsp;</p>
			<p style="padding-left: 30px; padding-right: 30px;">&nbsp;</p>
			<hr style="padding-left: 30px; padding-right: 30px;">
			<p style="padding-left: 30px; padding-right: 30px;">&nbsp;</p>
			<h2 style="padding-left: 30px; padding-right: 30px;">10. Satisfait ou remboursé</h2>
			<p style="padding-left: 30px; padding-right: 30px;">
				<strong>10.1 : France métropolitaine, Corse:</strong>
			</p>
			<p style="padding-left: 30px; padding-right: 30px;">Tous les articles achetés sur le site OCEAN-DIVING SAS peuvent faire l'objet d'échange ou de remboursement.<br>
				Le délai pendant lequel le client peut solliciter l'échange ou faire valoir son droit à rétractation est de 30 jours à compter de la date de réception du ou des articles. Celui ci est porté à 30 jours apres la date de fin de la période de confinnement COVID 19 décidée par le gouvernement Francais.</p>
			<p style="padding-left: 30px; padding-right: 30px;">Les frais de transport retour reste à la charge du client. Celui ci doit
				<span style="color: #333333;">retourner le colis selon le moyen de transport qu'il souhaite et de préférence une livraison contre signature.</span>
			</p>
			<p style="padding-left: 30px; padding-right: 30px;">
				<span style="color: #333333;">L'article ou les articles doivent être neufs dans leurs emballages d'origine et en état de fonctionnement.<br>
					Aucun remboursement ne sera fait si l'article ou les articles ont été utilisé ou l'emballage abimé.<br>
					Les frais de retour pour un remboursement seront à votre charge.<br>
					Dès réception des articles et validation du remboursement, votre compte sera crédité du montant des articles<br>Les Frais de port seront déduits de votre remboursement, même pour les commandes dont les frais de port sont offert.</span>
			</p>
			<p style="padding-left: 30px; padding-right: 30px;">
				<span style="color: #333333;">Des frais de remises en états de l'emballage d'origne du produit vous seront facturés dans la mesure ou ils sont absent ou détériorés.
					<br></span>
			</p>
			<p style="padding-left: 30px; padding-right: 30px;">Attention !! Le retour du ou des articles dans ce délai doit impérativement suivre la procédure détaillée ci-après :<br>
				<br>
				<strong>Etape 1 :</strong><br>
				Connectez-vous à votre compte OCEAN-DIVING SAS avec votre adresse e-mail et votre mot de passe et allez dans la rubrique « mes retours » afin de remplir le formulaire de demande de retour.<br>
				<br>
				<strong>Etape 2 :</strong>Vous pourrez procéder au retour en déposant le colis avec le formulaire dans la poste de votre choix, à destination de l'adresse suivante:</p>
			<p style="padding-left: 30px; padding-right: 30px;">Ocean-Diving service SAV&nbsp;<span class="section-info-text">
					<span>
						<span>Place Napoléon 85000 La Roche-sur-Yon&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br></span>
					</span>
				</span>
			</p>
			<p class="western">&nbsp;</p>
			<p class="western">
				<span style="font-family: 'Times New Roman', serif; vertical-align: super;">MODELE                      DE FORMULAIRE DE RETRACTATION</span>
			</p>
			<p class="western">
				<sup>
					<span style="font-family: 'Times New Roman', serif;">
						<span>(Veuillez                      compléter et renvoyer le présent formulaire                     uniquement si vous souhaitez vous rétracter du                     contrat.)
						</span>
					</span>
				</sup>
			</p>
			<p class="western">
				<sup>
					<span style="font-family: 'Times New Roman', serif;">
						<span>A                     l'attention de [<em>le professionnel insère ici son                       nom, son adresse géographique et, lorsqu'ils sont                       disponibles, son numéro de télécopieur et son                       adresse électronique</em>] :
						</span>
					</span>
				</sup>
			</p>
			<p class="western">
				<sup>
					<span style="font-family: 'Times New Roman', serif;">
						<span>Je/nous                      (*) vous notifie/notifions (*) par la présente                     ma/notre (*) rétractation du contrat portant sur la                     vente du bien (*)/pour la prestation de services (*)                     ci-dessous :
						</span>
					</span>
				</sup>
			</p>
			<p class="western">
				<sup>
					<span style="font-family: 'Times New Roman', serif;">
						<span>Commandé                      le (*)/reçu le (*) :
						</span>
					</span>
				</sup>
			</p>
			<p class="western">
				<sup>
					<span style="font-family: 'Times New Roman', serif;">
						<span>Nom                      du (des) consommateur(s) :
						</span>
					</span>
				</sup>
			</p>
			<p class="western">
				<sup>
					<span style="font-family: 'Times New Roman', serif;">
						<span>Adresse                      du (des) consommateur(s) :
						</span>
					</span>
				</sup>
			</p>
			<p class="western">
				<sup>
					<span style="font-family: 'Times New Roman', serif;">
						<span>Signature                      du (des) consommateur(s) (uniquement en cas de                     notification du présent formulaire sur papier) :
						</span>
					</span>
				</sup>
			</p>
			<p class="western">
				<sup>
					<span style="font-family: 'Times New Roman', serif;">
						<span>Date                      :
						</span>
					</span>
				</sup>
			</p>
			<p class="western">
				<sup>
					<span style="font-family: 'Times New Roman', serif;">
						<span>
							<em>(*)                        Rayez la mention inutile.&nbsp;</em>
						</span>
					</span>
				</sup>
			</p>
			<p style="padding-left: 30px; padding-right: 30px;">&nbsp;</p>
			<p style="padding-left: 30px; padding-right: 30px;">&nbsp;</p>
			<hr style="padding-left: 30px; padding-right: 30px;">
			<p style="padding-left: 30px; padding-right: 30px;">&nbsp;</p>
			<h2 style="padding-left: 30px; padding-right: 30px;">11. Traitements des colis non livrés par notre prestataire de transport</h2>
			<p style="padding-left: 30px; padding-right: 30px;">Ce sont les colis qui n'ont pas été remis au destinataire final pour les raisons suivantes : NPAI, non réclamé, refusé, avarie de transport, spoliation…<br>
				<br>
				<strong>11.1 : Les retours pour cause de NPAI :</strong>
			</p>
			<p style="padding-left: 30px; padding-right: 30px;">Il s'agit des colis retournés par le prestataire chargé de la livraison sous la mention : N'habite Pas à l'Adresse Indiquée.<br>
				Après réception et acceptation de votre colis par nos services, OCEAN-DIVING SAS prendra contact avec le client afin de lui renvoyer sa commande si le produit est encore disponible ou de procéder au remboursement de la commande selon le souhait du client.<br>
				OCEAN-DIVING-DIVING.COM &nbsp;se réserve le droit de procéder au remboursement de la commande et non au renvoi de celle-ci dans le cas où plusieurs NPAI seraient identifiés.<br>
				<br>
				<strong>11.2 : Les retours pour cause de "NON RECLAME" :</strong>
			</p>
			<p style="padding-left: 30px; padding-right: 30px;">Il s'agit des colis qui n'ont pas été réclamés par le client au bureau de Poste, ou au Relais dans les délais impartis.<br>
				Après réception et acceptation de votre colis par nos services, OCEAN-DIVING SAS prendra contact avec le client afin de lui renvoyer sa commande à ses frais pour un montant forfaitaire de 10 € HT ppur un colis standard, 22 € HT pour un bagage ou 29 € HT pour les plombs ou bouteilles. Si le client réclame un remboursement OCEAN-DIVING procédera au remboursement de la commande en déduisant les frais de transport.
				<br>
				OCEAN-DIVING SAS se réserve le droit de procéder au remboursement de la commande et non au renvoi de celle-ci dans le cas où plusieurs "NON RECLAME" seraient identifiés.</p>
			<p style="padding-left: 30px; padding-right: 30px;">
				<strong>11.3 : COVID 19</strong>
			</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Face  à la situation sanitaire inédite, La poste-colissimo modifie son  organisation en préservant la santé de ses clients et des postiers. La  distribution du courrier et des colis peut étre ralentie<strong>. Les livraisons autre qu'en point relais ne sont plus garanti et sont réalisés aux risques et périls du client</strong>
			</p>
			<hr style="padding-left: 30px; padding-right: 30px;">
			<p style="padding-left: 30px; padding-right: 30px;">&nbsp;</p>
			<h2 style="padding-left: 30px; padding-right: 30px;">12. Responsabilité</h2>
			<p style="padding-left: 30px; padding-right: 30px;">Pour toutes les étapes d'accès au site, de consultation, de remplissage des formulaires, de passation de commande, de livraison des articles ou de tout autre service, la société OCEAN-DIVING SASn'a qu'une obligation de moyens. En conséquence, la responsabilité de OCEAN-DIVING SAS ne saurait être engagée pour tous les inconvénients ou dommages inhérents à l'utilisation du réseau Internet et totalement extérieurs aux diligences et précautions prises par OCEAN-DIVING SAS.
				<br>
				En particulier, toute perturbation dans la fourniture du service, ou toute intrusion extérieure ou présence de virus informatique, ne saurait engager la responsabilité de OCEAN-DIVING SAS. De même, tout fait qualifié de force majeure au sens de la jurisprudence de la Cour de Cassation exonère totalement OCEAN-DIVING SAS de toute responsabilité. Les clients bénéficient des garanties accordées par les marques présentes sur le site.&nbsp;</p>
			<p style="padding-left: 30px; padding-right: 30px;">&nbsp;</p>
			<hr style="padding-left: 30px; padding-right: 30px;">
			<p style="padding-left: 30px; padding-right: 30px;">&nbsp;</p>
			<h2 style="padding-left: 30px; padding-right: 30px;">13. Propriété intellectuelle</h2>
			<p style="padding-left: 30px; padding-right: 30px;">Tous les éléments du site OCEAN-DIVING SAS, qu'ils soient visuels ou sonores, y compris la technologie sous-jacente, sont protégés par le droit d'auteur, des marques ou des brevets.<br>
				Ils sont la propriété exclusive de OCEAN-DIVING.<br>
				Tout lien hypertexte renvoyant au site de OCEAN-DIVING.COM et utilisant notamment la technique du framing, du deep-linking, du in-line linking ou toute autre technique de lien profond est en tout état de cause formellement interdit.<br>
				Dans tous les cas, tout lien, même tacitement autorisé, devra être retiré sur simple demande de OCEAN-DIVING SAS</p>
			<p style="padding-left: 30px; padding-right: 30px;">&nbsp;</p>
			<hr style="padding-left: 30px; padding-right: 30px;">
			<p style="padding-left: 30px; padding-right: 30px;">&nbsp;</p>
			<h2 style="padding-left: 30px; padding-right: 30px;">14. Données nominatives</h2>
			<p style="padding-left: 30px; padding-right: 30px;">OCEAN-DIVING SAS , pour les besoins du service, se réserve le droit de collecter des données nominatives relatives aux utilisateurs du site, notamment par le biais de « cookie » visé à l'article 8.<br>
				À cet effet, le site OCEAN-DIVING.COM est déclaré auprès de la CNIL sous le numéro : 1610215 v 0<br>
				OCEAN-DIVING SAS se réserve en outre le droit de céder commercialement les données qu'elle aura collecté sur son site.<br>
				Dans tous les cas, et conformément à la loi n°78-17 du 06 janvier 1978, tout utilisateur ou client du site peut à tout moment s'opposer à l'utilisation commerciale des dites données et bénéficie en outre d'un droit d'accès, de rectification et de suppression des données le concernant.<br>
				Toutes les demandes relatives au présent article devront être envoyées par courrier électronique à l'adresse
				<a href="mailto:contact@ocean-diving.com">contact@ocean-diving.com</a>&nbsp;</p>
			<p style="padding-left: 30px; padding-right: 30px;">&nbsp;</p>
			<hr style="padding-left: 30px; padding-right: 30px;">
			<p style="padding-left: 30px; padding-right: 30px;">&nbsp;</p>
			<h2 style="padding-left: 30px; padding-right: 30px;">15. Rappel des Garanties Légales</h2>
			<p class="Standard">&nbsp;</p>
			<ul>
				<li>&nbsp;<strong>
						<span style="text-decoration: underline;">Garantie légale de conformité</span>
					</strong>
					<strong>:</strong>
					L. 211-4 à L. 211-13 du code de la consommation</li>
			</ul>
			<p class="Textbody">
				<strong>Article L. 211-4.</strong>
				- Le vendeur est tenu de livrer un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance.</p>
			<p class="Textbody">Il répond également des défauts de conformité résultant de l'emballage, des instructions de montage ou de l'installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité.</p>
			<p class="Textbody">
				<strong>Article L. 211-5.</strong>
				- Pour être conforme au contrat, le bien doit :</p>
			<p class="Textbody">1°&nbsp;Être propre à l'usage habituellement attendu d'un bien semblable et, le cas échéant :</p>
			<p class="Textbody">–&nbsp;correspondre à la description donnée par le vendeur et posséder les qualités que celui-ci a présentées à l'acheteur sous forme d'échantillon ou de modèle ;</p>
			<p class="Textbody">–&nbsp;présenter les qualités qu'un acheteur peut légitimement attendre eu égard aux déclarations publiques faites par le vendeur, par le producteur ou par son représentant, notamment dans la publicité ou l'étiquetage ;</p>
			<p class="Textbody">2°&nbsp;Ou présenter les caractéristiques définies d'un commun accord par les parties ou être propre à tout usage spécial recherché par l'acheteur, porté à la connaissance du vendeur et que ce dernier a accepté.</p>
			<p class="Textbody">
				<strong>Article L. 211-6.</strong>
				- Le vendeur n'est pas tenu par les déclarations publiques du producteur ou de son représentant s'il est établi qu'il ne les connaissait pas et n'était légitimement pas en mesure de les connaître.</p>
			<p class="Textbody">
				<strong>Article L. 211-7.</strong>
				- Les défauts de conformité qui apparaissent dans un délai de six mois à partir de la délivrance du bien sont présumés exister au moment de la délivrance, sauf preuve contraire.</p>
			<p class="Textbody">Le vendeur peut combattre cette présomption si celle-ci n'est pas compatible avec la nature du bien ou le défaut de conformité invoqué.</p>
			<p class="Textbody">
				<em>[Nota : Le présent article est modifié par la loi
					<strong>à compter du 18 mars 2016</strong>
				</em>
				<em>comme suit:
				</em><br>
				" Les défauts de conformité qui apparaissent dans un délai de vingt-quatre mois à partir de la délivrance du bien sont présumés exister au moment de la délivrance, sauf preuve contraire.
				<br>
				Pour les biens vendus d’occasion, la durée mentionnée au premier alinéa du présent article est ramenée à six mois.&nbsp;
				<br>
				Le vendeur peut combattre cette présomption si celle-ci n'est pas compatible avec la nature du bien ou le défaut de conformité invoqué. "
				<em>(article 15 - I et II&nbsp; de la loi
				</em>
				<a href="http://geci.dgccrf/code03_conso_commerce/CONSOL2T1.htm#">
					<em>*116*</em>
				</a>
				<em>)]</em>
			</p>
			<p>
				<strong>Article L. 211-8.
				</strong>- L'acheteur est en droit d'exiger la conformité du bien au contrat. Il ne peut cependant contester la conformité en invoquant un défaut qu'il connaissait ou ne pouvait ignorer lorsqu'il a contracté. Il en va de même lorsque le défaut a son origine dans les matériaux qu'il a lui-même&nbsp;</p>
		</div>

	{% endblock %}
