{# Page Accueil (home) #}
{% extends "base.html.twig" %}

{% block body %}
	{# category PLONGEE #}
	<div id="row" class="row">
		<div class="col-6 col-lg-6">
			<a href="/articles/plongee" class="full-width">
				<img class="image_navigation full-width" src="https://cdn.pixabay.com/photo/2015/03/26/05/55/diving-689831_1280.jpg" alt="" width="50%" title="PLONGEE">
				<h6>PLONGEE</h6>
			</a>
		</div>
		{# category APNEE #}
		<div class="col-6 col-lg-6">
			<a href="/articles/apnee" class="full-width">
				<img class="image_navigation full-width" src="https://cdn.pixabay.com/photo/2017/09/09/20/29/swim-2733324_1280.jpg" alt="" width="50%" title="APNEE">
				<h6>APNEE</h6>
			</div>
		</a>
	</div>
{% endblock %}
