{% extends "base.html.twig" %}

{% block body %}
      
<ul id="navigation">
  <li><button type="button"class= "bouton_plongee" href="/category/plongee">PLONGEE</button>
  <img class="image_navigation" src="https://cdn.pixabay.com/photo/2015/03/26/05/55/diving-689831_1280.jpg" alt="" width="10%" title="PLONGEE"></li>
  <li><button type="button"class= "bouton_apnee" href="/category/apnee">APNEE</button>
  <img class="image_navigation" src="https://cdn.pixabay.com/photo/2016/05/10/05/30/freediving-1383103_1280.jpg" alt="" width="10%" title="APNEE"></li>
</ul>

{% endblock %} 