{% extends "base.html.twig" %}

{% block body %}

  <div class="row">
    <div class="col-12 col-lg-6"> 
    <a href="/category/PLONGEE">
      <img class="image_navigation" src="https://cdn.pixabay.com/photo/2015/03/26/05/55/diving-689831_1280.jpg" alt="" width="50%" title="PLONGEE">
      <h6>PLONGEE</h6>
    </a>
    </div> 

    <div class="col-12 col-lg-6">
    <a href="/category/APNEE">
      <img class="image_navigation" src="https://cdn.pixabay.com/photo/2016/05/10/05/30/freediving-1383103_1280.jpg" alt="" width="35%" title="APNEE">
      <h6>APNEE</h6>
    </div>

  <div/>

{% endblock %} 


