{% extends "base.html.twig" %}

{% block body %}
<section class="home">
  
          <img src="{{ diving_plongee.jpg}}" alt="">
          <img src="{{ apnee }}" alt="">
       
</section>

{% endblock %}
    