html, body{
    min-height: 100%;
}

body{
    min-height: 100vh;
    position: relative;
}

.full-width {
    width: 100%;
    height: 95%;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #FBFBF3;
   
}

#row{
     display: flex;
     padding: 30px;     
     padding-left: 15px;
}

h1{
    text-align: center;
}


.navbar {
    background-color: #FBFBF3!important;
} 

/* header {
    position: absolute;
    bottom: 0;
    width: 100%;
} */


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}








