html,body {
  min-height: 100vh;
}

.header {
  margin-bottom: 0px;
}
body {
  min-height: 100vh;
  position: relative;
}
h1 {
    margin-bottom: 0!important;
}
h6 {
  padding: 1em;
}

.full-width {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 0px; 
}

#row {
  display: flex;
  padding: 30px;
  margin: 0;
}

/* titre */
h1 {
  text-align: center;
  color: #59b0f6 !important;
  background-color: #fbfbf3 !important;
  padding: 20px;
  margin-right: 20px;
}
/* logo header */
.logo-home {
  position: absolute;
  right: 5px;
  margin-left: 5px;
}
/* Texte plongee/apnee */
a {
  color: #59b0f6 !important;
}
/* hearder */
.navbar-brand {
  background-color: #fbfbf3 !important;
  color: #59b0f6 !important;
}
/* footer */
.navbar {
  background-color: #fbfbf3 !important;
  color: #59b0f6 !important;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
