<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}OCEAN DIVING{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel ="stylesheet"  href="home.css"  >

       
        {# <link href="{{ asset('articles.css') }}" rel="stylesheet"/> #}
        <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link href="http://bootswatch.com/4/journal/bootstrap.min.css" rel="stylesheet">


        {# Run composer require symfony/webpack-encore-bundle
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}

            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}


    </head>

  <body> 

  {% block header %}


           {# titre   #}
        <h1>OCEAN DIVING</h1> 

          <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
              <a class="navbar-brand" href="/">ACCUEIL</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/compte">Compte</a>
                  <span class="sr-only"></span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/panier">Panier</a>
              </li>
            </ul>
          </div>
        </nav>
       
        <img src= "images/home.png" style= height="700px" width="50px"> 
        <a href="/home" class="header_home"><a href="/category" class="button-light"></a><i class='bx bxs-user'></i></a>
        {# <a href="/category" class="header_category"><i class='bx bxs-cart'></i></a> 
        <img src= "images/plongee.png" style= height="700px" width="50px"> #}
       
       <img src= "images/panier.png" style= height="700px" width="50px">
         {# include 'base/nav.html.twig' %} #}
       
    
      </div> 

     {# </header>  #}

        {% endblock %}



         {% block body %}

      <div class="row">
          <div class="col-12 col-lg-6"> 
          <a href="{{path('category', {'category':'plongee'}) }}">
          <img class="image_navigation" src="https://cdn.pixabay.com/photo/2015/03/26/05/55/diving-689831_1280.jpg" alt="" width="50%" title="PLONGEE">
        <h6>PLONGEE</h6>
          </a>
      </div> 
      <div class="col-12 col-lg-6">
          <a href="/category/apnee">
          <img class="image_navigation" src="https://cdn.pixabay.com/photo/2016/05/10/05/30/freediving-1383103_1280.jpg" alt="" width="35%" title="APNEE">
        <h6>APNEE</h6>
      </div>
          </a>
  <div/>



  {% endblock %}

    
    <footer>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="/conditions">Conditions Générales de vente</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

         
        </nav>
         <img src= "images/linkedin.png" style= height="700px" width="50px"> 
         <img src= "images/twitter.png" style= height="700px" width="50px">
         <img src= "images/gmail.png" style= height="700px" width="50px">     
    </footer>
  </body> 
</html>